<h1>MIT</h1>
<p> M.I.T is a Technology and business centre for Training,<br> 
developing and equipping trainees with solid knowledge in their areas of study</p>
<p> We're located in kitengela next to eastmatt. Irman House 2nd floor.</p>