<div id="<%= dom_id payment %>">
  <p>
    <strong>Name:</strong>
    <%= payment.name %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= payment.course %>
  </p>

  <p>
    <strong>Student:</strong>
    <%= payment.student_id %>
  </p>

</div>
